#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

}



.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.Shop{
  display: flex;
  flex-direction: column;

}


.form-group{
  width: 200px;
  margin-top: 2px auto;
  border: none !important;
  text-align: left;

}

.form-control{
  width: 100%;
  border: none !important; 
  
}



.form-group input {
  width: 100%;
  height: 38px;
  border-radius: 8px;
  border: solid black 2px;
  margin: 0 auto;
}


.shop-header{
  margin-top: 20px; /* Add space above the heading */
  text-align: center; /* Center align the heading */
  font-size: 2em; /* Adjust font size as needed */
  position: relative;

}
.search-bar{
  margin-bottom: 20px;
}


.product-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0, auto;
  
}


.product-card-label{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.product-card-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.product-card{
  border: solid black 2px;
  height: 305px;
  width: 250px;
  margin: 10px;
}

@media (max-width: 1024px) {
  .product-card {
    width: 45%; 
  }
}

/* Media query for devices with a max width of 768px (mobile) */
@media (max-width: 768px) {
  .product-card-container {
    flex-direction: row; 
  }

  .product-card {
    width: 90%; 
  }
  
}

/* Media query for devices with a max width of 480px (small mobile) */
@media (max-width: 480px) {
  .product-card {
    width: 100%; /* Full width on very small screens */
  }
}

 .product-img{
  height: 200px;
  width: 200px;
  margin-left: 0;
  z-index: 0;
  margin-top: 1px;
  
}


/* Optional: Add padding and margins as needed */

.back-link{
  position: fixed;
  top: 0;
  left: 0;
  
}
.back-link a{
  text-decoration: none;
  color: black;
}
.back-link:hover{
  border: black 2px;
} /* make back link more appealing soon */

.sidebar{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: brown;
  border: solid black 2px;
  top: 0;
  left: 0;
  
}
.toggle-sidebar{
  position: fixed;
  top: 0;
  border: none;
  background-color: grey;
}
.toggle-sidebar.close{
  left: 0;
}
.toggle-sidebar.open{
  left: 200px;
}

.sidebar-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sidebar-content a{
  margin-top: 20px;
  text-decoration: none;
  font-size: 14pt;
  color: white;
  width: 100%;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

}
.sidebar-content img{
  width: 60px;
  height: 33px;
  position: fixed;
  z-index: 1;
  left: 105px;

}
.sidebar-content p{
  margin: 0;
  width: 2px;
  position: absolute;
  margin-left: 40px;
  z-index: 2;
  font-size: 6pt;
  top: 65px;
  left: 92px;


}



.sidebar-content a:hover{
  border: black 2px;
  color: black
}


.Cart h3{
  margin-top: 50px;
  font-size: 24pt;

}
.cart-total{
  position: sticky;
  right: 0px;
  top: 20px;
  height: 150px;
  width: 320px;
  border: solid black 2px;
  background-color: rgb(15, 32, 29);
}
.cart-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-total p{
  font-size: 12pt;
  color: white;

}
.cart-container{
  flex-wrap: wrap;
  height: 80vh;

}
.cart-card{
  border: solid black 2px;
  border-radius: 14px;
  height: 200px;
  width: 400px
  
}
.cart-card a{
  text-decoration: none;
  color: rgb(54, 117, 151);
}

@media (max-width: 768px) {
  .cart-content{
    display: flex;
    flex-direction: column;
  }
  .cart-total{
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .cart-card{
    width: 325px;
  }
  
}



.wishlist-message-container{
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;

}
.wishlist-message{
  
  border: solid black 2px;
  height: 400px;
  width: 600px;
}

.card-btn-container{
  display: flex;
  justify-content: space-evenly;
  border: none;
}

.card-btn-container .remove-btn{
  border: none;
  color: gray;
}
.card-btn-container .remove-btn:hover{
  border: none;
  text-decoration: underline;   
  color: rgb(48, 48, 48);
}
.card-btn-container .add-btn{
  background-color: lightblue;
}

.card-btn-container .add-btn:hover{
  background-color: rgb(78, 163, 191);
}