#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}



.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(235, 210, 180); */
  height: 100vh;
  width: 100%;

}

.Shop{
  display: flex;
  flex-direction: column;
  height: 100vh;

}


.form-group{
  width: 200px;
  margin-top: 2px auto;
  text-align: left;
  display: flex ;

}

.form-control{
  width: 100%;
  
}



.form-group input {
  width: 100%;
  height: 38px;
  border-radius: 8px;
  border: solid black 2px;
  margin: 0 auto;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}




.shop-header{
  margin-top: 20px; /* Add space above the heading */
  text-align: center; /* Center align the heading */
  font-size: 3em; /* Adjust font size as needed */
  position: relative;
  width: 200px;

}
.search-bar{
  margin-bottom: 20px;
}

.product-card{
  border: solid black 3px;
  height: 400px;
  width: 300px;
  margin: 10px;
  background-color: #ffffff68;
}
.product-card-header{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16pt;
}
.product-card-header:hover{
  text-decoration: underline;
}



.product-card-label{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.product-card-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}


@media (max-width: 1024px) {
  .product-card {
    width: 45%; 
  }
}

/* Media query for devices with a max width of 768px (mobile) */
@media (max-width: 768px) {
  .product-card-container {
    flex-direction: row; 
  }

  .product-card {
    width: 90%; 
  }
  
}

/* Media query for devices with a max width of 480px (small mobile) */
@media (max-width: 480px) {
  .product-card {
    width: 100%; /* Full width on very small screens */
  }
}

 .product-img{
  height: 200px;
  width: 200px;
  margin-left: 0;
  z-index: 0;
  margin-top: 1px;
  
}


/* Optional: Add padding and margins as needed */

.back-link{
  position: fixed;
  top: 0;
  left: 0;
  
}
.back-link a{
  text-decoration: none;
  color: black;
}
.back-link:hover{
  border: black 2px;
} /* make back link more appealing soon */

/* Sidebar styles */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: brown;
  border: solid black 2px;
  top: 0;
  left: 0;
  transition: left .2s ease;
}

/* Sidebar toggle button styles */
.toggle-sidebar {
  position: fixed;
  top: 0;
  border: none;
  background-color: grey;
}

.toggle-sidebar.close {
  left: 0;
  transition: left .2s ease;
}

.toggle-sidebar.open {
  left: 200px;
  transition: left .2s ease;
}

/* Sidebar content styles */
.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}

.sidebar-content a {
  margin-top: 20px;
  text-decoration: none;
  font-size: 14pt;
  color: white;
  width: 100%;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sidebar-content img {
  width: 60px;
  height: 33px;
  position: fixed;
  z-index: 1;
  left: 105px;
}

.sidebar-content p {
  margin: 0;
  width: 2px;
  position: absolute;
  margin-left: 40px;
  z-index: 2;
  font-size: 6pt;
  top: 65px;
  left: 92px;
}

/* Hover effect for links */
.sidebar-content a:hover {
  border: black 2px;
  color: black;
}






.continue-shopping{
  display: flex;
  justify-content: flex-start;
  position: static;
}

.cardIdentifiers a{
  font-size: 16pt;
}

.cardSecondary{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 60px;
}


.wishlist-container{
  flex-wrap: wrap;
  height: 80vh;
}

.wishlist-card{
  border: solid black 2px;
  border-radius: 8px;
  height: 150px;
  width: 600px;
}

.wishlist-message-container{
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;

}
.wishlist-message{
  
  border: solid black 2px;
  height: 400px;
  width: 600px;
}

.card-btn-container{
  display: flex;
  justify-content: space-evenly;
  border: none;
}

.card-btn-container .remove-btn{
  border: none;
  color: gray;
}
.card-btn-container .remove-btn:hover{
  border: none;
  text-decoration: underline;   
  color: rgb(48, 48, 48);
}
.card-btn-container .add-btn{
  background-color: lightblue;
}

.card-btn-container .add-btn:hover{
  background-color: rgb(78, 163, 191);
}


.item-page .item-img{
  height: 400px;
  width: 350px;
}
.item-page{
  margin: auto;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;


}
.item-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 2px;
  margin-right: 5px;
  width: 400px;
}

.item-bidding{
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  
}
.item-bidding input{
  margin-top: 10px;
  width: 150px;
}

.item-bidding button{
  width: 150px;
  margin-top: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.item-pricing{
  border: solid black 2px
}

.item-button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-button-container button{
  border-radius: 8px;
  width: 100%;
  height: 40px;
  margin-top: 4px;
}

.item-reviews{
  border: solid black 2px;
}

.review-form{
  border: solid rgb(138, 122, 122) 2px;
  height: 500px;
  width: 50%;
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0;
  
  
  
}

.Item{
  display: flex;
  justify-content: center;
}


.item-review{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid black 2px;
  margin-bottom: 20px;
}

.item-description{
  padding-top: 150px;
  border: solid black 2px;
}


.Cart h3{
  margin-top: 50px;
  font-size: 24pt;

}
.cart-total{
  position: fixed;
  right: 0px;
  top: 160px;
  height: 125px;
  width: 325px;
  border: solid black 2px;
  background-color: rgb(15, 32, 29);
}
.cart-total-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

}
.cart-total-buttons button{

  font-size: 11pt;
}
.cart-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-total p{
  font-size: 12pt;
  color: white;

}
.cart-container{
  flex-wrap: wrap;
  justify-content: space-between;
  height: 70vh;
  padding-top: 40px;
  padding-bottom: 0px;
  
  

}


.continue-shopping{
  display: flex;
  justify-content: flex-start;
  position: static;
}
.cart-card{
  display: flex;
  border: solid black 2px;
  border-radius: 14px;
  height: 150px;
  width: 600px;
  justify-content: space-evenly;
  padding-top: 10px;
  
}
.cardIdentifiers a{
  font-size: 16pt;
}

.cardSecondary{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 60px;
}

.cart-img{
  height: 125px;
  width: 150px;
}


.cart-card a{
  text-decoration: none;
  color: rgb(54, 117, 151);
}

@media (max-width: 768px) {
  .cart-content{
    display: flex;
    flex-direction: column;
  
  }
  .cart-container{
    overflow-y: auto;
    height: 80vh;
    padding-bottom: 200px;
    
  }
  .cart-total{
    position: fixed;
    bottom: 0;
    right: 0;
    top: unset;
    width: 100%;
  }
  .cart-card{
    display: flex;
    flex-direction: column;
    
    width: 325px;
    height: 200px;
  }
  .cart-img{
    display: none;
    visibility: hidden;
  }
  
}
.item-cart{
  border: solid black 2px;
  width: 300px;
}

.carted-message{
  border: solid black 2px;
  background: antiquewhite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
}

/* Checkbox Styles */
.checkbox-apple {
  position: relative;
  display: inline-block; /* Ensure the checkbox is treated as an inline element */
  width: 50px;
  height: 25px;
  margin-left: 5px;
  user-select: none;
}

.checkbox-apple input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-apple label {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  transition: background-color 0.4s;
}

.checkbox-apple label::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.checkbox-apple input:checked + label {
  background-color: #66bb6a;
}

.checkbox-apple input:checked + label::after {
  transform: translateX(24px);
}

.sell-auction-label {
  display: inline-block;
  margin-right: 10px; /* Add space between the label and the checkbox */
  font-weight: bold; /* Make the label text bold */
  color: #333; /* Set the label color to a visible dark gray */
  font-size: 16px; /* Increase the font size for better visibility */
  vertical-align: middle; /* Align the label with the checkbox */
  position: relative;
  z-index: 1; /* Ensure the label is on top of the checkbox */
}

.Sell{
  display: flex;
  justify-content: center;
}

.product-creation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
}

.review-form-comment {
  height: 300px !important;
  width: 100% !important;
  border: solid black 2px !important;

}

.add-description{
  height: 200px !important;
  width: 100% !important;
  border: solid black 2px !important;
}
.description-container{
  width: 400px;
}

.standard-form, .auction-form{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.listing-container{
  height: 80vh;
  flex-wrap: wrap;
}


.logout-button{
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}